<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Angular WinJS Sample</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="node_modules/winjs/css/ui-light.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="aws" ng-controller="AppController">

<win-tool-bar>
    <win-tool-bar-command label="'This is a ToolBar command'" icon="'add'"></win-tool-bar-command>
    <win-tool-bar-separator></win-tool-bar-separator>
    <win-tool-bar-content>
        <win-search-box placeholder-text="'Search'"></win-search-box>
    </win-tool-bar-content>
</win-tool-bar>

<!-- If you ever need access to the WinJS winControl, you can expose it to your Angular scope by using the win-control directive -->
<win-pivot win-control="pivotWinControl">
    <win-pivot-item header="'Sample'">
      This Pivot is showing how to access its winControl through Angular. 
      The winControl can now be accessed as a variable on the Angular scope, using the same name that was 
      specified in the directive. In this case, $scope.pivotWinControl
    </win-pivot-item>
</win-pivot>

  <div ng-include="'app/appbar.html'"></div>

  <script src="node_modules/winjs/js/base.min.js"></script>
  <script src="node_modules/winjs/js/ui.min.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-winjs/js/angular-winjs.js"></script>

  <script src="scripts/main.js"></script>
</body>
</html>